<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1> collezblog /  <%= user.name %> </h1>

      <img src="<%=user.avatar %>" alt="<%= user.name %>" width="100">  
      


    <% if(user.id==profile_user.id){ %> <!--here user.id is by passport.js and profile_user.id is from db-->

        <!--if user matches then show the form-->
        <!--we can't  access req.params as now it is multipart/form-data
        for it we use multer and function we defined User.uploadedAvatar as multer.diskStorage takes req also-->
        <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
           <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name %>" required>
           <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email %>" required>
          <input type="file" name="avatar" placeholder="Profile Picture">
           <input type="submit" value="Update">
        </form>
    <%}else{  %>
    <!--else show only profile info  -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>

    <%} %>
    </body>
</html>